#js-product-list {
  .products {

    .product-miniature {
      //margin: 0;
      width: 22%;

      .thumbnail-container {
        width: 100% !important;

        * {
          width: 100% !important;
        }


        a.thumbnail {
          img {
            margin: 0;
          }
        }
      }

    }
  }
}